[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
dash = "*"
pathlib = "*"
jupyter = "*"
matplotlib = "*"
seaborn = "*"
cartopy = "*"
plotly = "*"
geopandas = "*"
osmnx = "*"
pyspark = "*"
folium = "*"

[dev-packages]

[requires]
python_version = "3.9"
